.validated-control .error {
    display: inline-block;
    color: red;
    padding-left: 6px;
}

.validated-control {
    display: inline-block;
}

label {
    display: block;
    margin: 10px;
}

.header,form {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: solid;
    padding: 14px;
}

form {
    width: 19em;
}

.header {
    width: 23em;
}

.users-grid .users-row>div {
    display:inline-block;
    padding : 5px;
}